/*border radius*/
/* img {
  border-radius: 50%;
} */
/*-------------------------------------------------------------*/

/*border top left radius*/
/* img {
  border-top-left-radius: 20px;
} */
/*-------------------------------------------------------------*/

/*border top right radius*/
/* img {
  border-top-right-radius: 20px;
} */
/*-------------------------------------------------------------*/

/*border bottom right radius*/
/* img {
  border-bottom-right-radius: 20px;
} */
/*-------------------------------------------------------------*/

/*border bottom left radius*/
/* img {
  border-bottom-left-radius: 20px;
} */
/*-------------------------------------------------------------*/

/*border top-left top-right  bottom-right  bottom-left */
/* img {
  border-radius: 15px 30px 45px 60px;
} */
/*-------------------------------------------------------------*/

/*border (top-left bottom-right) and( top-right  bottom-left) */
/* img {
  border-radius: 50% 20%;
} */
