* {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/*? transform: rotate */
/* .box {
  margin-top: 165px;
  width: 360px;
  height: 200px;
  background: linear-gradient(
      to right bottom,
      rgba(185, 5, 140, 0.5),
      rgba(223, 8, 115, 0.2)
    ),
    url("../images/wp1904105-developer-wallpapers.jpg");
  background-size: 100%;
  transform: rotate(45deg);
} */

/* ? transform: scale */
/* .box {
  margin-top: 165px;
  width: 360px;
  height: 200px;
  background: linear-gradient(
      to right bottom,
      rgba(185, 5, 140, 0.5),
      rgba(223, 8, 115, 0.2)
    ),
    url("../images/wp1904105-developer-wallpapers.jpg");
  background-size: 100%;
  transition: all 0.8s ease-in;
}

.box:hover {
  transform: scale(1.1);
} */

/*? transform: skew */

/* .box {
  margin-top: 165px;
  width: 360px;
  height: 200px;
  background: linear-gradient(
      to right bottom,
      rgba(185, 5, 140, 0.5),
      rgba(223, 8, 115, 0.2)
    ),
    url("../images/wp1904105-developer-wallpapers.jpg");
  background-size: 100%;
  transition: all 0.8s ease-in;
}

.box:hover {
  transform: skew(10deg);
} */


/*? transform: translate */

/* .box {
  margin-top: 165px;
  width: 360px;
  height: 200px;
  background: linear-gradient(
      to right bottom,
      rgba(185, 5, 140, 0.5),
      rgba(223, 8, 115, 0.2)
    ),
    url("../images/wp1904105-developer-wallpapers.jpg");
  background-size: 100%;
  transition: all 0.8s ease-in;
}

.box:hover {
  transform: translateX(20px);
  transform: translateY(20px);
  transform: translate(20px,50px);
} */



/*? transform: translate */

/* .box {
  margin-top: 165px;
  width: 360px;
  height: 200px;
  background: linear-gradient(
      to right bottom,
      rgba(185, 5, 140, 0.5),
      rgba(223, 8, 115, 0.2)
    ),
    url("../images/wp1904105-developer-wallpapers.jpg");
  background-size: 100%;
  transition: all 0.8s ease-in 2s;
}

.box:hover {
  transform: translateX(20px);
  transform: translateY(20px);
  transform: rotate(20deg);
  transform-origin: 45px center;
} */


.container{
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene {
  width: 200px;
  height: 200px;
  perspective: 700px; /*  تعیین فاصله چشم ناظر تا صحنه؛ مقدار کمتر یعنی عمق شدیدتر.*/
  cursor: grab;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-20deg);
  transition: transform .1s ease;
  -webkit-transform: rotateX(-20deg) rotateY(-20deg);
  -moz-transform: rotateX(-20deg) rotateY(-20deg);
  -ms-transform: rotateX(-20deg) rotateY(-20deg);
  -o-transform: rotateX(-20deg) rotateY(-20deg);
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ff009d;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}




.front {
  transform: translate3d(0, 0, 100px);
}

.back {
  transform: rotateY(180deg) translate3d(0, 0, 100px);
}

.right {
  transform: rotateY(90deg) translate3d(0, 0, 100px);
}

.left {
  transform: rotateY(-90deg) translate3d(0, 0, 100px);
}

.top {
  transform: rotateX(90deg) translate3d(0, 0, 100px);
}

.bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 100px);
}
