div {
  background-color: #e91e63;
  width: 600px;
  height: 300px;
  color: aliceblue;
  padding: 12px;
  border-radius: 12px;
  margin: auto;
}

a {
  font-size: 18px;
  color: aliceblue;
  margin: 20px;
}


a:active {
  background-color: #d3c60e;
}

a:visited{
  color: #ff00ea;
}

a:hover {
  color: #12e503;
}

input:focus{
    outline-color: rgb(22, 196, 231);
}


h1:hover + p{
    color: #d3c60e;
}